* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
	font-size: 16px;
}

#colors {
	background-color: #000;
	padding: 20px;
	min-width: 200px;
	min-height: 200px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
